<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color:rgb(118,177,118);">
    <h1> DIABETIC OR NON-DIABETIC PREDICTION </h1>

    <form method="GET" action ="/predict_diebetes">

            

<label>Glucose&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type = "text" name = "Glucose">
</select>

<br>
<br>
            

<label>BloodPressure&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type = "text" name = "BloodPressure">
</select>

<br>
<br>
  

<label>SkinThickness&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type = "text" name = "SkinThickness">
</select>

<br>
<br>
    

<label>Insulins&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type = "text" name = "Insulin">
</select>

            
<br>
<br>
            
            
<label>BMI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type = "text" name = "BMI">
            
</select>

<br>
<br>

<label>DiabetesPedigreeFunction&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type = "text" name = "DiabetesPedigreeFunction">
</select>

<br>
<br>

<label>Age&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type = "text" name = "Age">
</select>

<br>
<br>
                
<br>
        
<input type = "submit" value = "SUBMIT">

            
<br>
            
<p><b>{{ prediction }}</b></p>

</form>


</body>


</html>
           
</body>
</html>